<tr id="<%= dom_id admin %>" class="text-center">
  <td>
    <%= admin.username %>
  </td>
  <td>
    <%= link_to "Show this admin", admin %>
  </td>

<!--  <p>-->
<!--    <strong>Pass:</strong>-->
    <%#= admin.password %>
<!--  </p>-->

</tr>
