<p style="color: green"><%= notice %></p>

<h1 class="text-center">Admins</h1>

<% if !logged_in? session['username'],session['token']%>
  <div class="text-center">
    <%= render 'login' %>
  </div>
<% end %>

<% if logged_in?(session['username'],session['token'])%>
<table id="admins" class="w-100">
  <tr class="text-center">
    <th>Username</th>
  </tr>
  <% @admins.each do |admin| %>
    <%= render admin %>
  <% end %>
</table>
<div class="justify-content-center text-center mt-xl">
  <%= button_to "New admin", new_admin_path, class: "btn btn-primary" %>
</div>
<% end %>