<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<%= turbo_stream_from "entries" %>
<div id="entries">
  <%# reverse shows the latest first %>
  <% @entries.reverse.each do |entry| %>
    <%= render entry %>

  <% end %>
</div>




<%= link_to "New entry", new_entry_path %>
